@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
$fontFamily : 'Nunito Sans', sans-serif;
:root{
    --body-bg: #E5E5E5;
    --text-blue : #5C6BC0;
		--text :#282828;
		--btn-color: #4A58A7;
		--text-color-banner:#716F6F;
		--footer-bg: #F3F3F6;
}
@media screen and (max-width:1024px) {
	body{
		.container{
			width: 100%;
			position: relative;
			min-height: 100vh;
			overflow-x: hidden;
			header{
				width: 100%;
				.container__header__spacework{
					width: 100%;
				}
			}
			section.banner__workspaces{
				width: 100%;
				min-height: 100%;
				padding: 0px 10px;
				.container__banner__workspaces{
					width: 100%;
				}
			}
			section.gallery__workspases{
				padding: 50px 10px;
				.container__gallery__workspases{
					width: 100%;
					.row__gallery__workspases{
						.box__gallery__workspaces{
							width: 300px;
							margin: 0px 10px;
							img{
								margin: 0px 0px;
							}
							.box__spesification{
								left: 45%;
								transform: translateX(-45%);
							}
						}
					}
				}
			}
			section.gallery__locations{
				padding: 50px 10px;
				.container__gallery__locations{
					width: 100%;
					.row__gallery__locations{
						flex-wrap: wrap;
						.box__gallery__locations{
							width: 450px;
							margin: 30px 10px;
						}
					}
				}
			}
			section.icon__sponsor{
				padding: 40px 10px;
				.container__icon__sponsor{
					width: 100%;
				}
			}
			section.slider__commentary{
				padding: 0px 10px;
				.container__slider__commentary{
					width: 100%;
				}
			}
			footer{
				padding: 50px 10px;
				.container__footer{
					width: 100%;
					.box__footer{
						align-items: stretch;
					}
				}
			}
		}
	}
}
@media screen and (max-width:768px) {
	body{
		.container{
			width: 100%;
			min-height: 100vh;
			position: relative;
			overflow-x: hidden;
			header{
				width: 100%;
				.container__header__spacework{
					width: 100%;
				}
			}
			section.banner__workspaces{
				width: 100%;
				min-height: 100%;
				padding: 0px 10px;
				.container__banner__workspaces{
					width: 100%;
				}
			}
			section.gallery__workspases{
				padding: 50px 10px;
				.container__gallery__workspases{
					width: 100%;
					.row__gallery__workspases{
						.box__gallery__workspaces{
							width: 250px;
							margin: 0px 10px;
							img{
								margin: 0px 0px;
							}
							.box__spesification{
								left: 45%;
								transform: translateX(-45%);
							}
						}
					}
				}
			}
			section.gallery__locations{
				padding: 50px 10px;
				.container__gallery__locations{
					width: 100%;
					.row__gallery__locations{
						flex-wrap: wrap;
						.box__gallery__locations{
							width: 350px;
							margin: 30px 0px;
						}
					}
				}
			}
			section.icon__sponsor{
				padding: 40px 10px;
				.container__icon__sponsor{
					width: 100%;
				}
			}
			section.slider__commentary{
				padding: 0px 10px;
				.container__slider__commentary{
					width: 100%;
				}
			}
			footer{
				padding: 50px 10px;
				.container__footer{
					width: 100%;
					.box__footer{
						align-items: stretch;
					}
				}
			}
		}
	}
}
@media screen and (max-width:570px) {
	body{
		.container{
			width: 100%;
			min-height: 100vh;
			position: relative;
			overflow-x: hidden;
			header{
				transition: 0.5s;
				width: 100%;
				padding: 4% 1%;
				.container__header__spacework{
					width: 100%;
					.logo{
						position: relative;
						z-index: 300;
					}
					.hamburger{
						width: 30px;
						height: 20px;
						position: fixed;
						top: 20px;
						z-index: 300;
						right: 20px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-direction: column;
						transition: 0.5s;
						span.bar{
							width: 100%;
							height: 3px;
							border-radius: 5px;
							background-color: #000;
							transition: 0.5s;
						}
					}
					.hamburger.HamburgerRotate{
						span.bar:first-child{
							transform: rotate(45deg) translate(7px,7px);
							transition: 0.5s;
						}
						span.bar:nth-child(2){
							opacity: 0;
							transform: translateX(20px);
							transition: 0.5s;
						}
						span.bar:last-child{
							transform: rotate(-45deg) translate(5px,-5px);
							transition: 0.5s;
						}
					}

					nav.navbar__spacework{
						width: 0;
						min-height: 70vh;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						position: fixed;
						top: 0;
						overflow-x: hidden;
						right: -100%;
						background-color: var(--body-bg);
						transition: 0.5s;
						box-shadow: 2px 5px 10px rgba(0,0,0,0.19);
						ul.list__spacework{
							flex-direction: column;
							li.list__item__spacework{
								padding: 10px 0px;
								margin: 10px 0px;
							}
						}
						.btn__header{
							button.btn__header{
								margin: 30px 0px;
							}
						}
					}
					nav.navbar__spacework.showNav{
						right: 0;
						transition: 0.5s;
						width: 100%;
					}
				}
			}
			header.Sticky{
				padding: 4% 2%;
				transition: 0.5s;
			}
			section.banner__workspaces{
				width: 100%;
				min-height: 100%;
				padding: 0px 10px;
				.container__banner__workspaces{
					width: 100%;
					padding-top: 80px;
					padding-bottom: 0px;
					.row__banner__workspaces{
						flex-direction: column-reverse;
						.box__banner__workspaces{
							width: 100%;
							margin: 30px 0px;
							text-align: center;
							.box__counter{
								width: 100%;
								margin-left: 0px;
							}
							.btn__banner{
								margin: 30px auto;
							}
						}
						.box__img__workspaces{
							width: 100%;
						}
					}
				}
			}
			section.gallery__workspases{
				padding: 100px 10px;
				.container__gallery__workspases{
					width: 100%;
					h1{
						text-align: center;
					}
					img{
						margin: 0px;
					}
					.row__gallery__workspases{
						flex-direction: column;
						margin-top: 10%;
						.box__gallery__workspaces{
							width: 90%;
							margin: 17% 0%;
							.box__spesification{
								overflow-y: hidden;
								left: 50%;
								transform: translateX(-50%);
							}
						}
					}
				}
			}
			section.gallery__locations{
				padding: 50px 10px;
				.container__gallery__locations{
					width: 100%;
					h1{
						background-position-x: 50px;
					}
					.row__gallery__locations{
						flex-direction: column;
						.box__gallery__locations{
							width: 100%;
							margin: 30px 0px;
						}
					}
				}
			}
			section.icon__sponsor{
				padding: 40px 10px;
				.container__icon__sponsor{
					width: 100%;
				}
			}
			section.slider__commentary{
				.container__slider__commentary{
					width: 100%;
					padding: 90px 40px;
					.row__slider__commentary{
						.box__slider__commentary{
							width: 90%;
						}
					}
					.swiper-pagination{
						.swiper-pagination-bullet{
							margin: 55px 5px;
						}
					}
					button.slider__btn{
						bottom: 5px;
					}
				}
			}
			footer{
				padding: 50px 10px;
				.container__footer{
					width: 100%;
					.box__footer{
						flex-direction: column;
						.box__footer1{
							width: 100%;
							text-align: center;
							margin: 20px 0px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width:365px){
	body{
		.container{
			width: 100%;
			min-height: 100vh;
			position: relative;
			overflow-x: hidden;
			header{
				width: 100%;
				.container__header__spacework{
					width: 100%;
				}
			}
			section.banner__workspaces{
				width: 100%;
				min-height: 100vh;
				.container__banner__workspaces{
					.row__banner__workspaces{
						.box__banner__workspaces{
							width: 100%;
							h1{
								font-size: 25px;
							}
							.box__counter{
								width: 100%;
								justify-content: center;
								flex-wrap: wrap;
							}
						}
					}
				}
			}
			section.gallery__workspases{
				padding: 50px 10px;
				.container__gallery__workspases{
					width: 100%;
					h1{
						font-size: 25px;
					}
				}
			}
			section.gallery__locations{
				padding: 50px 10px;
				.container__gallery__locations{
					width: 100%;
					h1{
						font-size: 25px;
					}
					.row__gallery__locations{
						flex-direction: column;
						.box__gallery__locations{
							width: 100%;
							margin: 30px 0px;
						}
					}
				}
			}
		}
	}
}